@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');


/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3rem;
    --surface-color: #fff;
    --curve: 40;
    /*========== Colors ==========*/
    --hue: 174;
    --sat: 63%;
    /*--first-color: hsl(var(--hue), var(--sat), 40%);*/
    --first-color: #9bb9df;
    /*--first-color: #9a8174;*/
    --first-color-alt: hsl(var(--hue), var(--sat), 36%);
    --title-color: hsl(var(--hue), 12%, 15%);
    --text-color: hsl(var(--hue), 8%, 35%);
    --body-color: #f9f9f9;
    --container-color: #FFF;
    --bg: hsl(var(--hue), 10%, 90%);
    --fg: hsl(var(--hue), 10%, 10%);
    --transDur: 0.15s;
    /*font-size: calc(16px + (24 - 16) * (100vw - 320px) / (1280 - 320));*/

    /*========== Font and typography ==========*/
    --body-font: 'Nunito', sans-serif;
    --h1-font-size: 1.5rem;
    --normal-font-size: .938rem;
    --tiny-font-size: .825rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

@media screen and (min-width: 968px) {
    :root {
        --h1-font-size: 2.25rem;
        --normal-font-size: 1.1rem;
    }
}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.overlay {
    padding: 4.5rem 0 2rem;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

section {
    padding: 6.5rem 0 2rem;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
}
