@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3rem;

    /*========== Colors ==========*/
    --hue: 174;
    --sat: 63%;
    /*--first-color: hsl(var(--hue), var(--sat), 40%);*/
    --first-color: #9bb9df;
    /*--first-color: #9a8174;*/
    --first-color-alt: hsl(var(--hue), var(--sat), 36%);
    --title-color: hsl(var(--hue), 12%, 15%);
    --text-color: hsl(var(--hue), 8%, 35%);
    --body-color: #f9f9f9;
    --container-color: #FFF;
    --bg: hsl(var(--hue), 10%, 90%);
    --fg: hsl(var(--hue), 10%, 10%);
    --transDur: 0.15s;
    /*font-size: calc(16px + (24 - 16) * (100vw - 320px) / (1280 - 320));*/

    /*========== Font and typography ==========*/
    --body-font: 'Nunito', sans-serif;
    --h1-font-size: 1.5rem;
    --normal-font-size: .938rem;
    --tiny-font-size: .825rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

@media screen and (min-width: 968px) {
    :root {
        --h1-font-size: 2.25rem;
        --normal-font-size: 1.1rem;
    }
}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.overlay {
    padding: 4.5rem 0 2rem;
    position: absolute;
    width: 100%;
    height: 100%;
    /*background-color: rgba(37, 55, 74, 0.75);*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    /*color: rgba(240, 15, 0, 0.6);*/
}

section {
    padding: 4.5rem 0 2rem;
    min-height: 100vh;
    position: relative;
}

#home {
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact {
    padding-top: 7%;
}

.section__title {
    font-size: var(--h1-font-size);
    color: var(--title-color);
    text-align: center;
    margin-bottom: 1.5rem;
}

/*=============== HEADER ===============*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /*background-color: var(--container-color);*/
    background-color: #335075;
    z-index: var(--z-fixed);
    transition: .4s;
}

/*=============== NAV ===============*/
.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.nav__img {
    width: 32px;
    border-radius: 50%;
}

.nav__logo {
    color: #f9f9f9;
    font-weight: 600;
}

@media screen and (max-width: 767px) {
    .overlay {
        padding: 0;
    }

    #home {
        padding: 0;
    }

    .nav__menu {
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: #335075;
        box-shadow: 0 -1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
        width: 100%;
        height: 4rem;
        padding: 0 1rem;
        display: grid;
        align-content: center;
        border-radius: 1.25rem 1.25rem 0 0;
        transition: .4s;
    }
}

.nav__list,
.nav__link {
    display: flex;
}

.nav__link {
    flex-direction: column;
    align-items: center;
    row-gap: 4px;
    color: #f9f9f9;
    font-weight: 600;
}

.nav__list {
    justify-content: space-around;
}

.nav__name {
    font-size: var(--tiny-font-size);
    /* display: none;*/ /* Minimalist design, hidden labels */
}

.nav__icon {
    font-size: 1.5rem;
}

/*Active link*/
.active-link {
    position: relative;
    color: var(--first-color);
    transition: .3s;
}

/* Minimalist design, active link */
/* .active-link::before{
  content: '';
  position: absolute;
  bottom: -.5rem;
  width: 4px;
  height: 4px;
  background-color: var(--first-color);
  border-radius: 50%;
} */

/* Change background header */
.scroll-header {
    box-shadow: 0 1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
}

/*=============== MEDIA QUERIES ===============*/
/* For small devices */
/* Remove if you choose, the minimalist design */
@media screen and (max-width: 320px) {
    .nav__name {
        display: none;
    }
}

/* For medium devices */
@media screen and (min-width: 576px) {
    .nav__list {
        justify-content: center;
        column-gap: 3rem;
    }
}

@media screen and (min-width: 767px) {
    body {
        margin: 0;
    }

    .section {
        padding: 7rem 0 2rem;
    }

    .nav {
        height: calc(var(--header-height) + 1.5rem); /* 4.5rem */
    }

    .nav__img {
        display: none;
    }

    .nav__icon {
        display: none;
    }

    .nav__name {
        font-size: var(--normal-font-size);
        /* display: block; */ /* Minimalist design, visible labels */
    }

    .nav__link:hover {
        color: var(--first-color);
    }

    /* First design, remove if you choose the minimalist design */
    .active-link::before {
        content: '';
        position: absolute;
        bottom: -.75rem;
        width: 4px;
        height: 4px;
        background-color: var(--first-color);
        border-radius: 50%;
    }

    /* Minimalist design */
    /* .active-link::before{
        bottom: -.75rem;
    } */
}

/* For large devices */
@media screen and (min-width: 1024px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }
}

.image__blob {
    /*margin-top: 10%;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.image__blob img {
    -webkit-mask-repeat: no-repeat;
}

#img1 {
    -webkit-mask-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iMTAwMTUuaW8iIHZpZXdCb3g9IjAgMCA0ODAgNDgwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiA+Cgk8cGF0aCBmaWxsPSIjNDc0YmZmIiBkPSJNNDAyLjUsMjgxUTM2OCwzMjIsMzM1LDM0OVEzMDIsMzc2LDI1NC41LDQyNFEyMDcsNDcyLDE2MCw0MjlRMTEzLDM4Niw2MiwzNDYuNVExMSwzMDcsMzMuNSwyNDYuNVE1NiwxODYsOTcuNSwxNTVRMTM5LDEyNCwxNzYuNSw5Mi41UTIxNCw2MSwyNTgsODNRMzAyLDEwNSwzNDMuNSwxMjZRMzg1LDE0Nyw0MTEsMTkzLjVRNDM3LDI0MCw0MDIuNSwyODFaIiAvPgo8L3N2Zz4=);
    -webkit-mask-position: center;
}

.title__text {
    font-size: 50px;
    font-weight: bold;
}


.form__container {
    position: relative;
    max-width: 900px;
    width: 100%;
    border-radius: 6px;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

.form__container form {
    position: relative;
    margin-top: 16px;
    min-height: 490px;
    background-color: #fff;
    overflow: hidden;

}

.form__container form .form {
    position: absolute;
    background-color: #fff;
    transition: 0.3s ease;
}

.form__container form .form.second {
    opacity: 0;
    pointer-events: none;
    transform: translateX(100%);
}

form.secActive .form.second {
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);
}

form.secActive .form.first {
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
}

.form__container form .title {
    display: block;
    font-size: 16px;
    font-weight: 500;
    margin: 6px 0;
    color: #333;
}

.fields {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

form .fields .input-field {
    display: flex;
    width: calc(100% / 2 - 15px);
    flex-direction: column;
    margin: 4px 0;
}

.input-field label {
    font-size: 15px;
    font-weight: 500;
    color: #2e2e2e;
}

.input-field input, select {
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}

.input-field input :focus,
.input-field select:focus {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
}

.input-field select,
.input-field input[type="date"] {
    color: #707070;
}

.input-field input[type="date"]:valid {
    color: #333;
}

@media (max-width: 750px) {
    .form__container form {
        overflow-y: scroll;
    }

    .form__container form::-webkit-scrollbar {
        display: none;
    }

    form .fields .input-field {
        width: calc(100% / 2 - 15px);
    }

    .messages {
        display: flex;
        justify-content: center;
    }

    .notification {
        position: unset;
    }
}

@media (max-width: 550px) {
    form .fields .input-field {
        width: 100%;
    }
}

#adr {
    width: 100%;
}

.to__form__link, #submitApplication {
    background-color: #335075;
    color: #f9f9f9;
    padding: 10px;
    width: fit-content;
    border: none;
    border-radius: 18px;
    font-size: 24px;
    cursor: pointer;
    font-family: var(--body-font);
    font-weight: bold;
}


.notification {
    padding: 5rem 0.75em;
    position: fixed;
    top: 1.5em;
    right: 1.5em;
    width: 18.75em;
    max-width: calc(100% - 3em);
    transition: transform 0.15s ease-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    z-index: 999;
}

.notification__box,
.notification__content,
.notification__btns {
    display: flex;
}

.notification__box,
.notification__content {
    align-items: center;
}

.notification__box {
    animation: flyIn 0.3s ease-out;
    background-color: hsl(0, 0%, 100%);
    border-radius: 0.75em;
    box-shadow: 0 0.5em 1em hsla(var(--hue), 10%, 10%, 0.1);
    height: 5em;
    transition: background-color var(--transDur),
    color var(--transDur);
}

.notification--out .notification__box {
    animation: flyOut 0.3s ease-out forwards;
}

.notification__content {
    padding: 0.375em 1em;
    width: 100%;
    height: 100%;
}

.notification__icon {
    flex-shrink: 0;
    margin-right: 0.75em;
    width: 2em;
    height: 2em;
}

.notification__icon-svg {
    width: 100%;
    height: auto;
}

.notification__text {
    line-height: 1.333;
}

.notification__text-title {
    font-size: 1em;
    font-weight: bold;
}

.notification__text-subtitle {
    font-size: 0.8em;
    opacity: 0.75;
}

.notification__btns {
    box-shadow: -1px 0 0 hsla(var(--hue), 10%, 10%, 0.15);
    flex-direction: column;
    flex-shrink: 0;
    min-width: 4em;
    height: 100%;
    transition: box-shadow var(--transDur);

}

.notification__btn {
    background-color: transparent;
    box-shadow: 0 0 0 hsla(var(--hue), 10%, 10%, 0.5) inset;
    font-size: 0.8em;
    line-height: 1;
    font-weight: 500;
    height: 100%;
    padding: 0 0.5rem;
    transition: background-color var(--transDur),
    color var(--transDur);
    -webkit-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
}

.notification__btn-text {
    display: inline-block;
    pointer-events: none;
}

.notification__btn:first-of-type {
    border-radius: 0 0.75rem 0 0;
}

.notification__btn:last-of-type {
    border-radius: 0 0 0.75rem 0;
}

.notification__btn:only-child {
    border-radius: 0 0.75rem 0.75rem 0;
}

.notification__btn + .notification__btn {
    box-shadow: 0 -1px 0 hsla(var(--hue), 10%, 10%, 0.15);
    font-weight: 400;
}

.notification__btn:active,
.notification__btn:focus {
    background-color: hsl(var(--hue), 10%, 95%);
}

.notification__btn:focus {
    outline: transparent;
}

/*@supports selector(:focus-visible) {*/
/*	.notification__btn:focus {*/
/*		background-color: transparent;*/
/*	}*/
/*	.notification__btn:focus-visible,*/
/*	.notification__btn:active {*/
/*		background-color: hsl(var(--hue),10%,95%);*/
/*	}*/
/*}*/

/*!* Dark theme *!*/
/*@media (prefers-color-scheme: dark) {*/
/*	:root {*/
/*		--bg: hsl(var(--hue),10%,10%);*/
/*		--fg: hsl(var(--hue),10%,90%);*/
/*	}*/
/*	.notification__box {*/
/*		background-color: hsl(var(--hue),10%,30%);*/
/*	}*/
/*	.notification__btns {*/
/*		box-shadow: -1px 0 0 hsla(var(--hue),10%,90%,0.15);*/
/*	}*/
/*	.notification__btn + .notification__btn {*/
/*		box-shadow: 0 -1px 0 hsla(var(--hue),10%,90%,0.15);*/
/*	}*/
/*	.notification__btn:active,*/
/*	.notification__btn:focus {*/
/*		background-color: hsl(var(--hue),10%,35%);*/
/*	}*/

/*	@supports selector(:focus-visible) {*/
/*		.notification__btn:focus {*/
/*			background-color: transparent;*/
/*		}*/
/*		.notification__btn:focus-visible,*/
/*		.notification__btn:active {*/
/*			background-color: hsl(var(--hue),10%,35%);*/
/*		}*/
/*	}*/
/*}*/

/* Animations */
@keyframes flyIn {
    from {
        transform: translateX(calc(100% + 1.5em));
    }
    to {
        transform: translateX(0);
    }
}

@keyframes flyOut {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(100% + 1.5em));
    }
}

.inactive {
    display: none;
}

button {
    border: none;
}

/*@media (max-width: 750px) {*/

/*    .messages {*/
/*        display: flex;*/
/*        justify-content: center;*/
/*    }*/

/*    .notification {*/
/*        position: initial;*/
/*        padding: 0;*/
/*    }*/
/*}*/

.features {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.feature {
    margin-top: 5%;
    width: 250px;
    height: 350px;
    /*background-color: #9ea5aa;*/
    position: relative;
}

.feature__img {
    width: 100%;
    height: 50%;

}

.feature__text {
    padding: 20px 5px;
    font-size: 24px;
    font-weight: bold;
}

.feature__text p {
    margin-top: 10px;
    font-size: 22px;
    font-weight: normal;
}

.feature__img img {
    width: 100%;
    height: 100%;
}

.accordion {
    width: 35%;
    padding: 1.2rem 0;
    border-radius: 1rem;
    background: white;
    /*   box-shadow: 0 0 5rem lightgrey; */
}

.accordion__heading {
    margin-bottom: 1rem;
    padding: 0 1.4rem;
}

.accordion__item:not(:last-child) {
    border-bottom: 1px solid lightgrey;
}

.accordion__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1.2rem 1.4rem;
    background: white;
    border: none;
    outline: none;
    /*color: var(--color-text);*/
    font-size: 1.2rem;
    text-align: left;
    cursor: pointer;
    transition: 0.1s;
}

.accordion__btn:hover {
    /*color: var(--color-purple);*/
    background: rgba(51, 80, 117, 0.1);
}

.accordion__item--active .accordion__btn {
    /*color: var(--color-purple);*/
    /*border-bottom: 2px solid var(--color-purple);*/
    background: hsl(248, 53%, 97%);
}

.fa-lightbulb {
    padding-right: 1rem;
}

.accordion__icon {
    border-radius: 50%;
    transform: rotate(0deg);
    transition: 0.3s ease-in-out;
    opacity: 0.9;
}

.accordion__item--active .accordion__icon {
    transform: rotate(135deg);
}

.accordion__content {
    font-weight: 300;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    /*color: var(--color-text-muted);*/
    transform: translateX(16px);
    transition: max-height 0.5s ease, opacity 0.5s, transform 0.5s;
}

.accordion__content p {
    padding: 1rem 1.8rem;
}

.accordion__item--active .accordion__content {
    opacity: 1;
    transform: translateX(0px);
    max-height: 100vh;
}

@media (max-width: 750px) {

    .features {
        display: grid;
        width: 100%;
    }

    section {
        height: fit-content;
        margin-bottom: 10%;
    }

    .accordion {
        width: 95%;
    }

}

.centered {
    display: flex;
    justify-content: center;
}

.badge {
    position: absolute;
    top: -30px;
    right: -30px;
    letter-spacing: 0.08em;
    /*color: #fff;*/
    color: var(--text-color);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: transform 0.3s ease;
    transform: rotate(-14deg);
    text-align: center;
    /*filter: drop-shadow(0.25em 0.3em 0.4em rgba(119, 118, 118, 0.8));*/
    /* min-size + (max-size - min-size) * ( (100vw - min-width) / ( max-width - min-width) ) */
    font-size: calc(11px + 14 * ((100vw - 420px) / (860)));
}

@media screen and (max-width: 420px) {
    .badge {
        font-size: 11px;
    }
}

@media screen and (min-width: 1280px) {
    .badge {
        font-size: 12px;
    }
}

.badge::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 10em;
    height: 10em;
    border-radius: 100%;
    background: #cfdfbd;
    opacity: 0.8;
    transition: opacity 0.3s linear;
}

.badge svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    z-index: 0;
    width: 10em;
    height: 10em;
}

.badge span {
    display: block;
    /*background: #111;*/
    border-radius: 0.4em;
    /*padding: 0.4em 1em;*/
    z-index: 1;
    /*min-width: 11em;*/
    /*border: 1px solid;*/
    text-transform: uppercase;
}

.flex__box {
    display: flex;
    /*justify-content: center;*/
    /*align-items: center;*/
    padding: 0 10%;
}

.left {
    width: 35%;
    display: grid;
    justify-content: center;
    align-content: center;
    font-size: 40px;
    font-weight: bold;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
}