<body>
<p style="font-weight: bold; font-size: 21px">{{ data.service }} Application</p>
<div style="display: flex;">
    <div class="title" style="font-weight: bold; font-size: 21px">Full name:</div>
    <div class="content" style="font-size: 21px">{{ data.name }}</div>
</div>

<div style="display: flex;">
    {% if data.email %}
        <div class="title" style="font-weight: bold; font-size: 21px">Email:</div>
        <div class="content" style="font-size: 21px">{{ data.email }}</div>
    {% endif %}
</div>

<div style="display: flex;">
    <div class="title" style="font-weight: bold; font-size: 21px">Mobile number:</div>
    <div class="content" style="font-size: 21px">{{ data.phone }}</div>
</div>

<div style="display: flex;">
    <div class="title" style="font-weight: bold; font-size: 21px">Chosen date:</div>
    <div class="content" style="font-size: 21px">{{ data.date }}</div>
</div>

<p style="font-weight: bold; font-size: 21px">Start Address</p>

<div style="margin-left: 70px;">
    <div style="display: flex;">
        <div class="title" style="font-weight: bold; font-size: 21px">Address:</div>
        <div class="content" style="font-size: 21px">{{ data.address_from }}</div>
    </div>

    <div style="display: flex;">
        <div class="title" style="font-weight: bold; font-size: 21px">City:</div>
        <div class="content" style="font-size: 21px">{{ data.city_from }}</div>
    </div>

    <div style="display: flex;">
        <div class="title" style="font-weight: bold; font-size: 21px">Floor:</div>
        <div class="content" style="font-size: 21px">{{ data.floor_from }}</div>
    </div>

    <div style="display: flex;">
        <div class="title" style="font-weight: bold; font-size: 21px">Zip code:</div>
        <div class="content" style="font-size: 21px">{{ data.zip_from }}</div>
    </div>
    {% if data.service == 'Moving' %}
        <div style="display: flex;">
            <div class="title" style="font-weight: bold; font-size: 21px">Elevator:</div>
            <div class="content" style="font-size: 21px">{{ data.elevator_pickup }}</div>
        </div>
    {% endif %}
</div>
<p style="font-weight: bold; font-size: 21px">End Address: </p>

<div style="margin-left: 70px;">
    <div style="display: flex;">
        <div class="title" style="font-weight: bold; font-size: 21px">Address:</div>
        <div class="content" style="font-size: 21px">{{ data.address_to }}</div>
    </div>

    <div style="display: flex;">
        <div class="title" style="font-weight: bold; font-size: 21px">City:</div>
        <div class="content" style="font-size: 21px">{{ data.city_to }}</div>
    </div>

    <div style="display: flex;">
        <div class="title" style="font-weight: bold; font-size: 21px">Floor:</div>
        <div class="content" style="font-size: 21px">{{ data.floor_to }}</div>
    </div>

    <div style="display: flex;">
        <div class="title" style="font-weight: bold; font-size: 21px">Zip code:</div>
        <div class="content" style="font-size: 21px">{{ data.zip_to }}</div>
    </div>

    <div style="display: flex;">
        <div class="title" style="font-weight: bold; font-size: 21px">Elevator:</div>
        <div class="content" style="font-size: 21px">{{ data.elevator_dropoff }}</div>
    </div>
</div>

{% if data.service == 'Moving' %}
    <div style="display: flex;">
        <div class="title" style="font-weight: bold; font-size: 21px">Apartments type:</div>
        <div class="content" style="font-size: 21px">{{ data.apart_type }}</div>
    </div>
{% endif %}

{% if data.service == 'Delivery' %}
    <div style="display: flex;">
        <div class="title" style="font-weight: bold; font-size: 21px">Large items:</div>
        <div class="content" style="font-size: 21px">{{ data.large_items }}</div>
    </div>

    <div style="display: flex;">
        <div class="title" style="font-weight: bold; font-size: 21px">Medium items:</div>
        <div class="content" style="font-size: 21px">{{ data.medium_items }}</div>
    </div>
{% endif %}

<div style="display: flex;">
    <div class="title" style="font-weight: bold; font-size: 21px">Promocode:</div>
    <div class="content" style="font-size: 21px">{{ data.promocode }}</div>
</div>

</body>
