{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>{% block title %}Moving{% endblock title %}</title>#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
{#    <link rel="stylesheet" href="{% static 'css/tmp.css' %}">#}
{#</head>#}
<body>
{#<header class="header" id="header">#}
{#    <nav class="nav container">#}
{#        <a href="#" class="nav__logo">Title here</a>#}
{#        <div class="nav__menu" id="nav-menu">#}
{#            <ul class="nav__list">#}
{#                <li class="nav__item">#}
{#                    <a href="#home" class="nav__link active-link">#}
{#                        <i class='bx bx-home-alt nav__icon'></i>#}
{#                        <span class="nav__name">Home</span>#}
{#                    </a>#}
{#                </li>#}
{##}
{#                <li class="nav__item">#}
{#                    <a href="#about" class="nav__link">#}
{#                        <i class='bx bx-user nav__icon'></i>#}
{#                        <span class="nav__name">About</span>#}
{#                    </a>#}
{#                </li>#}
{##}
{#                <li class="nav__item">#}
{#                    <a href="#tips" class="nav__link">#}
{#                        <i class='bx bx-book-alt nav__icon'></i>#}
{#                        <span class="nav__name">Moving tips</span>#}
{#                    </a>#}
{#                </li>#}
{##}
{#                <li class="nav__item">#}
{#                    <a href="#benefits" class="nav__link">#}
{#                        <i class='bx bx-briefcase-alt nav__icon'></i>#}
{#                        <span class="nav__name">Special benefits</span>#}
{#                    </a>#}
{#                </li>#}
{##}
{#                <li class="nav__item">#}
{#                    <a href="#contact" class="nav__link">#}
{#                        <i class='bx bx-message-square-detail nav__icon'></i>#}
{#                        <span class="nav__name">Contact</span>#}
{#                    </a>#}
{#                </li>#}
{#            </ul>#}
{#        </div>#}
{#    </nav>#}
{#</header>#}
{##}
{#<main>#}
{#    <!--=============== HOME ===============-->#}
{#    <section id="home">#}
{#        <div class="left">#}
{#            <div class="title__text">#}
{#                Fast and reliable moving all over Vancouver#}
{#            </div>#}
{#            <div class="description__text" style="margin-top: 3%;">#}
{#                <ul>#}
{#                    <li>Apartment move</li>#}
{#                    <li>Store pick-up and delivery</li>#}
{#                    <li>Haul away</li>#}
{#                </ul>#}
{#            </div>#}
{#        </div>#}
{#        <div class="right">#}
{#            <img src="{% static 'images/b.jpg' %}" class="clip__image">#}
{#            <img src="{% static 'images/bb.jpg' %}" class="clip__image__little">#}
{#        </div>#}
{#    </section>#}
{##}
{#    <!--=============== ABOUT ===============-->#}
{#    <section id="about">#}
{#        <h2 class="section__title">About</h2>#}
{#    </section>#}
{##}
{#    <!--=============== TIPS ===============-->#}
{#    <section id="tips">#}
{#        <h2 class="section__title">TIPS</h2>#}
{#    </section>#}
{##}
{#    <!--=============== BENEFITS ===============-->#}
{#    <section id="benefits">#}
{#        <h2 class="section__title">BENEFITS</h2>#}
{#    </section>#}
{##}
{#    <!--=============== CONTACT ===============-->#}
{#    <section id="contact">#}
{#        <h2 class="section__title">Contact</h2>#}
{#    </section>#}
{#</main>#}
{#<script src="{% static 'js/app.js' %}"></script>#}

</body>

</html>